._qa{
    ._qa-q{
        position:relative;
        height:35px;
        ._qa-index{
            position:absolute;
            top:7px; right: 100%;
        }
        ._qa-text{
            display:inline-block;
            line-height:35px;
            max-width:100%;
            overflow-x:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;
        }
    }
    ._qa-a{
        color:#9e9e9e;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height:18px;
        img {
            max-width:100%;
        }
    }
    @for $i from 3 through 50
    {
        .row#{$i} {
            -webkit-line-clamp: $i;
            max-height: #{18*$i}px;
        }
    }
}