$color1:#13a0e3;
    .user_info{
        .title {padding:20px 0;}
        .info {
            line-height:35px;
            .icon {display:block; width:50px; height:50px; line-height:50px; color:#fff; border-radius:50px; background:#8b99a7;}
        }
        .solve{
            font-size:0;
            span {
                font-size:14px;
                width:41%; *margin:0 4%; line-height:30px; text-align:center; user-select:none; cursor:pointer; display:inline-block; border:1px solid #c9d5e3; border-radius:3px;
                &:first-child {margin-right:16%;}
            }
            span.on {background:rgba($color1,0.15);color:$color1; border-color:$color1;}
        }
        section {
            padding:0 2%;
        }
        .tags .el-select:nth-child(1){
            margin-bottom: 20px;
        }
        .avater{
            position:relative;
            width:60px;
            height:60px; margin:0 auto;
            img {
                position:absolute;
                top:0;bottom:0; left:0; right:0;
                max-width:60px;
                max-height:60px;
            }
        } 
    }